*{
    padding: 0px;
    margin: 0px;
}

/* navbar styles */

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
    
}

.logo{
    display: flex;
    align-content: center;
    align-items: center;
}

#skb{
    color: #2a2a2b;
}

.logo h2{
    color: #FF5400;
font-family: Mulish;
font-size: 1.8rem;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: 10px;
}

.menu-item li{
    display: inline;
    margin-right: 30px;
}

/* banner styles */


.banner{
    margin: 50px auto;
    padding: 0px 120px;
}

.images{
    display: flex;
    justify-content: center;
    justify-items: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    background: linear-gradient(to bottom, #000000, #2c3e5000), url('Images/Group\ 13.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; 
    height: 500px;
    border-radius: 16px;
    

 
}
 
.images .banner-content{
    height: 400px;
    width: 1110px;
    border-radius: 16px;
    margin: 50px auto;
    padding: 30px 40px;
    
   
   
}

.banner-content h2{
    color: #FFF;
font-family: Mulish;
font-size: 4rem;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 100px 250px 24px 250px;
}

.banner-content p{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin: 5px 250px;
}

.banner-input{
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
    margin: 5px 130px;
    padding: 16px 10px;
}

.banner-input input, select{
    padding: 16px 20px;
    margin: 0px 5px;
    border-radius: 8px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#when{
    padding: 10px 113px 10px 15px;
}

#type{
    padding: 10px 74px 10px 15px;
}

.btn-ban{
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    display: inline;
    color: #FFF;
 text-align: center;
font-family: Mulish;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
display: flex;
align-items: center;
align-content: center;
gap: 5px;
cursor: pointer;
}

.btn-ban svg path{
    color: #FFF;
}

.popular-tour{
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 20px 140px;
}


.tour-content h2{
    font-size: 2rem;
    color: #131318;
    font-family: Mulish;
    font-weight: 800;

}

.tour-content p{
    margin: 20px 5px;
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}

.tour-content ul li{
    margin-left: 20px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.tour-content button{
    padding: 15px 35px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    border: none;
    cursor: pointer;
}
.des-title{
    text-align: center;
    margin: 20px 20px;
}
.des-title h2{
    color: #131318;
    text-align: center;
font-family: Mulish;
font-size: 2.2rem;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 24px;
}

.des-title p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.destination{
    margin: 40px auto;
    
}


.last-img{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.pic-srilnka{
    background: url(Images/Rectangle\ 6.png);
    width: 374px;
height: 286px;
display: flex;
justify-content: center;

}

.pic-north{
    background: url(Images/Rectangle\ 7.png);
    width: 474px;
height: 286px;
display: flex;
justify-content: center;
}

.pic-kashmir{
    background: url(Images/Rectangle\ 9.png);
    width: 274px;
height: 286px;
display: flex;
justify-content: center;
background-repeat: no-repeat;

}

.pic-one{
    background: url(Images/Rectangle\ 11.png);
    width: 473px;
height: 300px;
display: flex;
justify-content: center;
}

.pic-two{
    background: url(Images/Rectangle\ 10.png);
    width: 673px;
height: 300px;
display: flex;
justify-content: center;
}

.pic-maldivs{
    background: url(Images/Rectangle\ 5.png);
    width: 573px;
height: 300px;
display: flex;
justify-content: center;
} 
.pic-indonesia{
    background: url(Images/Rectangle\ 8.png);
    width: 573px;
height: 300px;
display: flex;
justify-content: center;
}



.last-img > h2{
    color: #FFF;
    align-items: center;
    align-items: center;
    text-align: ;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 10px 120px;
    gap: 20px;
}
.card-one{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 184px;
    padding: 32px 50px 32px 32px;

}

.card-two{
    border-radius: 16px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 184px;
    padding: 32px 50px 32px 32px;

}

.card-one h3, .card-two h3, .card-three h3{
    color: #131318;

font-family: Mulish;
font-size: 1.2rem;
margin: 10px 0px;

}

.card-one p, .card-two p, .card-three p{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;

}

.cards-two{
    display: flex;
    justify-items: center;
    justify-content: center;
    
}

.card-three{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(167, 145, 120, 0.05);
    width: 573px;
    height: 184px;
    padding: 32px 50px 32px 32px;
}

.newsletter{
    display: flex;
    gap: 20px;
    justify-items: center;
    justify-content: center;
    margin: 30px 20px;
}

.form{
    border-radius: 16px;
border: 1px solid #FF5400;
padding: 70px 50px 50px 50px ;
}
.form h2{
    color: #131318;
font-family: Mulish;
font-size: 1.2rem;
margin-bottom: 10px;
}

.form p{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
margin-bottom: 24px;

}

.form hr{
    margin: 20px 0px;
}

.form input{
    padding: 17px 230px 17px 15px;
    border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: none;
margin-bottom: 15px;
}

.new-btn{
    background-color: #FF5400;
    color: #FFF;
    text-align: center;
    padding: 17px 162px 17px 162px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.travel{
  padding: 35px;  
transform: rotate(-19.628deg);
border-radius: 16px;
background: #FF5400;
color: #FFF;
margin-top: -175px;
margin-left: 250px;
text-align: center;
align-items: center;
align-content: center;
}

footer{
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    padding: 110px;
    margin-top: 100px;
}

.footer-logo{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.footer-logo span{
  
font-family: Mulish;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: 10px;
color: #FF5400;

}

footer p{
    color: #5A5A5D;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
margin: 20px 190px 40px 190px;

}

.social-media{
    font-size: 1.5rem;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 50px;
}

.copyright{
    padding-top: 60px;
    display: block;
}

#hmbr{
    display: none;
}

/* Responsive for mobile */

@media  screen and (max-width: 600px) {
    .navbar{
        margin: 20px 30px;

    }
    
    .banner{
        margin: 10px auto;
        padding: 0px 12px;
    }

    .banner-content h2{
        font-size: 2rem;
        margin: 37px 35px 24px 35px;
    
    }

    .banner-content p {
        margin: 5px 20px;
    }
    .images .banner-content{
    height: 50px;
    width: 11px;
    border-radius: 16px;
    margin: 5px auto;
    padding: 3px 4px;
       
       
    }
   
    .images{
        width: 100%;
    }

    .menu-item ul{
        display: none;
    }

    .images .banner-content{
        width: 576px;
    }

    .banner-input{
        flex-direction: column;
        margin: 5px 13px;
    }

    .btn-ban{
        display: flex;
        justify-content: center;
    }

    .popular-tour{
        flex-direction: column;
        margin: 20px 30px;
    }
    .tour-img img{
        width: 100%;
        margin-top: 30px;
    }

    .des-title h2{
        font-size: 1.25rem;
    }
    .image-area{
        flex-direction: column;
        margin: 5px 30px;
    }

    .last-img{
        flex-direction: column;
        justify-items: center;
        align-items: center;
        
    }

    .pic-maldivs, .pic-indonesia, .pic-srilnka, .pic-north, .pic-kashmir, .pic-one, .pic-two{
        width: 350px;
        height: 176px;
        border-radius: 16px;
        margin: 2px 20px;
        
        
        
        
    }

    .cards{
        flex-direction: column;
    }

    .card-one, .card-two, .card-three{
        width: 295px
    }

    .newsletter{
        flex-direction: column;

    }

    .form input {
        padding-left: 5%;
        padding-right: 60%;
        
    }

    .new-btn {
        
        padding-left: 45%;
        padding-right: 45%;
        
    }
 .news-letter-img img{
    width: 383px;
height: 300px;

 }
 footer {
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    padding: 10px;
    margin-top: 104px;
    
}

footer p{
    margin: 20px 20px;
}
.copyright {
    padding: 15px;
    display: block;
}

#hmbr{
    display: block;
    margin-top: 15px;
}

}